:root{
    --claro: #FFFFFF;
    --oscuro: #000;
    --primary: #10CEE1;
}
/* 1 rem = 10px*/
html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    color: var(--oscuro);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Radio Canada', sans-serif;
}

.second-title{
    text-align: center;
    font-size: 2.5rem;
    color: var(--oscuro);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Radio Canada', sans-serif;
}

.container{
    max-width: 100rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--primary);
}

.nav-i{
    display: flex;
    flex-direction: column;
}

.nav-i a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--claro);
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
}

.nav-i a:hover{
    background-color: #000;
}

@media (min-width:480px){

}

@media (min-width:768px){
    .nav-i{
        flex-direction: row;
        justify-content: space-between;
    }
}
